* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  padding: 10px;
}

header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 100;
}

.container {
  display: flex; 
  flex-wrap: wrap;
  gap: 10px;
}

.addNote-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5pc;
  height: 5pc;
  background-color: #007BFF;
  color: white;
  border-radius: 20%;
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.addNote-content:hover {
  background-color: #0056b3;
}

.icon-plus {
  padding: 0 14px;
  width: fit-content;
  font-size: xx-large;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Espaçamento entre os itens */
}

textarea {
  padding: 5px;
  padding-top: 14px;
  outline: none;
  resize: none;
  border: none;
  background: transparent;
  font-size: 20px;
  width: 200px;
  height: 150px;
}

textarea::-webkit-scrollbar {
  width: 4px;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4B4453; 
}


.item {
  position: relative;
  width: 200px;
  height: 150px;  
  margin: 10px;
  border-radius: 10px;
}

.remove {
  position: absolute;
    right: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #ff0000;
}