.logo {
  color: black;
  font-size: 30px;
}

.logo span {
  color: coral;
}

.header {
  background-color: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 1000;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}

header ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.header ul li a:hover {
  color: coral;
}

.header .atext{
  font-size: 15px;
  color: rgb(0, 0, 0);
}

/* From Uiverse.io by vinodjangid07 */ 

header .addNote-content{
  width: 100px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  color: coral;
  border-radius: 20px;
  font-size: x-large;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  transition-duration: 1.0s;
}

.addNote-content:hover {
  background-color: rgb(56, 56, 56);
}

header .noteAl {
  width: 100px;
  height: 50px;
  position: relative;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  transition-duration: 1.0s;
}

.bell {
  width: 18px;
}

.bell path {
  fill: rgb(255, 0, 0);
}

.noteAl:hover {
  background-color: rgb(56, 56, 56);
}

header .noteAl:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

header .noteAl:active {
  transform: scale(0.8);
}
