.logo {
  color: black;
  font-size: 30px;
}

.logo span {
  color: coral;
}

.header {
  background-color: transparent;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
  z-index: 1000;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}

.header ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.header ul li a:hover {
  color: coral;
}

.header .atext{
  font-size: 15px;
  color: rgb(0, 0, 0);
}


/* dropdown menu style */
.menu {
  display: none;
}

.header ul li:hover .menu {
  display: flex;
  position: absolute;
  right: 5px;
  top: 100%;
  border-radius: 10px;
  background-color: #ccc;
}

.header ul li:hover .menu ul {
  display: block;
  margin: 10px;
}

.header ul li:hover .menu ul li {
  width: 150px;
  padding: 10px;
}

.menu-1 {
  display: none;
}

.menu ul li:hover .menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: rgb(0, 0, 0);
}
