* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: white;
  height: 100%;  
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  background-color: #1C1C1E;
}

h4{
  position: relative;
  left: 776px;
  color: #EDBB08;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar-header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: white;
  background-color: #323236;
  z-index: 1;
}

input {
  position: relative;
  padding: 5px;
  left: -550px;
  color: white;
  background-color: #454549dc;
  border-radius: 12px;
  border: none;
  outline: none;
}

.apagaTudo {
  position: relative;
  left: -750px;
  color: #EDBB08;
  cursor: pointer;
}

.add-checkbox-line {
  position: absolute; /* ou fixed, dependendo do caso */
  color: #EDBB08;
  cursor: pointer;
  z-index: 9999; /* Certifique-se de que este valor seja maior que o dos outros elementos */
}
#listnotas {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 250px;
  min-height: auto;
  height: 85vb;
  background-color: #202023;
  transition: .8s;
  color: #fff;
  border-right: solid 1px black;
  overflow-y: auto;
  /* Scroll vertical */
  overflow-x: hidden;
  z-index: 2;
}

/* Personalização da barra de rolagem */
#listnotas::-webkit-scrollbar {
  width: 1px;

  /* Largura da barra */
}

#listnotas::-webkit-scrollbar-track {
  background: #2C2C2E;
  border-radius: 16px;
  /* Cor de fundo da trilha */
}

#listnotas::-webkit-scrollbar-thumb {
  background-color: #4A4A4D;
  /* Cor da barra */
  
  /* Arredondamento */
}

#listnotas::-webkit-scrollbar-thumb:hover {
  background-color: #5C5C5E;
  /* Cor da barra ao passar o mouse */
}


.notasSalvas {
  display: grid;
  position: relative;
  height: 85px;
  width: 241px;
  margin: 5px;
  border-radius: 12px;
  background-color: #454549dc;
  color: white;
}

i {
  color: #EDBB08;
  font-size: 25px;
}

.note-name {
  outline: none;
  border: none;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  background-color: transparent;
}

.note-nameF {
  outline: none;
  border: none;
  margin-left: 12px;
  font-size: 20px;
  background-color: transparent;
}

.note-date {
  outline: none;
  border: none;
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
  background-color: transparent;
}

#btnNotes {
  display: flex;
  position: relative;
  left: 0;
  align-items: center;
  width: 248px;
  padding: 12px;
  color: #EDBB08;
  font-size: 1.0rem;
  margin: 3px;
  background-color: #202023;
  border-right: solid 1px black;
 border-left: none;
 border-top: none;
 border-bottom: none;
  cursor: pointer;
  outline: none;
  transition: color 0.3s;
  z-index: 1;
}

/* NOTAS SALVAS CSS */


.main-notes {
  display: flex;
  position: relative;
  left: 300px;
  top: -48px;
  min-width: 100vb;
  width: 100%;
  min-height: auto;
  height: 100vb;
  transition: .8s;
  background-color: #1C1C1E;
  transition: .8s;
  overflow-y: auto;
  /* Scroll vertical */
  overflow-x: hidden;
}

/* Personalização da barra de rolagem */
.main-notes::-webkit-scrollbar {
width: 1px;
  /* Largura da barra */
}

.main-notes::-webkit-scrollbar-track {
  background: #2C2C2E;
  /* Cor de fundo da trilha */
}

.main-notes::-webkit-scrollbar-thumb {
  background-color: #4A4A4D;
  /* Cor da barra */
  border-radius: 3px;
  /* Arredondamento */
}

.main-notes::-webkit-scrollbar-thumb:hover {
  background-color: #5C5C5E;
  /* Cor da barra ao passar o mouse */
}

.note-content{
  min-width: 100vb;
  width: 100%;
  min-height: auto;
  height: 100vb;
  background-color: #1C1C1E;
  transition: .8s;
  overflow-y: auto;
  /* Scroll vertical */
  overflow-x: hidden;
}

.note-title {
  outline: none;
  border: none;
  min-width: 100vb;
  width: 100%;
  margin: 5px;
  border-bottom: solid 1px wheat;
  text-align: center;
  font-size: 35px;
  background-color: transparent;
}

/* Textarea */
textarea {
  padding: 14px;
  outline: none;
  resize: none;
  border: none;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #1C1C1E;
  font-size: 18px;
  width: auto;
  min-width: 140vh;
  min-height: 10vb;
  height: 80%;
  color: #ffffff;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: bisque;
}
