@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
      }
  
    .content {
        position: absolute;
        top: 60px;
        gap: 1px;
    }
  
    .item, .Alert {
        position: relative;
        width: 135%;
        height: 250px;
        margin: 10px;
        border-radius: 10px;
        transition: background-color 0.5s ease;
        background-color: var(--note-background);
        color: var(--note-text-color); 
    }
  
    .item:hover, .Alert:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  
    textarea, .Alertsy {
        padding: 5px;
        padding-top: 14px;
        outline: none;
        resize: none;
        border: none;
        background: transparent;
        font-size: 20px;
        width: 100%;
        height: 150px;
        color: var( --text-bloco-color); 
    }
  }

  @media screen and (max-width: 600px){
    #sidebar{
        display: none !important;
    }

    .addNote-content{
        display: none !important;
    }

    .reset:hover:not(:has(input:checked)) > svg {
      fill: #ff6200;
      opacity: 0.6;
    }

    .reset > svg {
      transition: 300ms;
      fill: red;
      margin-top: 0;
      scale: 1.4;
    }

section {
    --col-orange: #d17842;
    --col-dark: #111;
    --col-darkGray: #52555a;
    --col-gray: #aeaeae;  

    position: fixed;
    bottom: 20px;
    z-index: 1000;
    width: 340px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--col-dark);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(55, 55, 55, 0.687);
  
  }


  .label{
    padding: 8px 18px;
    margin: 5px;
    transition: all 200ms;
    display: inline-block;
  }
  
  .label input[type="radio"] {
    display: none;
  }

  .label:hover:not(:has(input:checked)) > svg {
    fill: #ff6200;
    opacity: 0.10;
  }

  .label > svg {
    transition: 300ms;
    fill: var(--col-darkGray);
    margin-top: 0;
  }

  .label:has(input:checked) > svg {
    fill: var(--col-orange);
    scale: 1.5;
    margin-top: -5px;
  }
  
  .label:has(input:checked)::before {
    width: 100%;
    left: 0;
    top: 45px;
  }
  

  section .switch {
    font-size: 17px;
    position: relative;
    display:  inline-block;
    width: 50px;
    height: 34px;
    border: none;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border: none;
  }
  
  section .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }

  section .input:checked + .slider:before {
    transform: translateX(17px);
  }

  .AddNota > svg {
    transition: 300ms;
    width: 123px;
    margin-top: 0;
    fill: var(--col-orange);
    scale: 1.4;
  }

  .AddNota:hover:not(:has(input:checked)) > svg {
    fill: #ff6200;
    opacity: 0.9;
  }

}