#sidebar {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 230px;
    height: 695px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D9D9D9;
    transition: all .5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.108);
    z-index: 2;
}

#sidebar_content{
  display: grid;
}

.folder{
  display: flex;
  align-items: center;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  background-color: #D9D9D9;
  margin-bottom: 10px;
}

i{
  color: yellow;
  font-size: 25px;
}

.folder:hover {
  background-color: rgba(248, 188, 7, 0.667);
  color: #ffffff;
}