* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: #ffffff;
  --header-background: #ffffffc2;
  --text-color: #000000;
  --text-bloco-color: #ffff;
  --logo-txt-header-color: black;
  --note-text-color: #ff0000;
  --celec-bar-color: coral;
  --scrollbar-thumb-color: #4B4453;
}

.dark-theme {
  --background-color: #111;
  --header-background: #ffffffc2;
  --text-color: #ffffff;
  --note-text-color: #ff0000;
  --logo-txt-header-color: rgb(255, 255, 255);
  --celec-bar-color: coral;
  --scrollbar-thumb-color: #4B4453;
}

body,
header,
textarea,
.Alert,
.item {
  transition: background-color 0.3s, color 0.3s;
}

button,
.addNote-content {
  transition: background-color 0.3s, transform 0.3s;
}

button:hover,
.addNote-content:hover {
  transform: scale(1.1);
}

body {
  display: flex;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section{
  display: none;
}

h1 {
  color: var(--logo-txt-header-color);
  font-size: 2rem;
}

h2 {
  border: none;
  outline: none;
  text-align: center;
  color: #969696;
}

header, p {
  text-align: center;
  color: #656565;
}

header span {
  color: coral;
}

.bxs-alarm-exclamation {
  font-size: 30px;
}

.bx-moon {
  font-size: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.bxs-bookmark-plus {
  font-size: 40px;
  color: var(--text-color);
}

.addNote-content {
  display: flex;
  position: fixed;
  right: 80px;
  width: 100px;
  height: 50px;
  bottom: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition-duration: 1.0s;
  box-shadow: 2px 2px 10px rgba(55, 55, 55, 0.687);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

textarea,
.Alertsy {
  padding: 20px;
  margin-top: 5px;
  outline: none;
  resize: none;
  border: none;
  background: transparent;
  font-size: 1rem;
  width: 100%;
  height: 70%;
  color: var(--text-bloco-color);
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(255, 153, 0, 0.418);
}

textarea:hover {
  box-shadow: 0 2px 4px rgb(255, 153, 0);
}

.Alertsy:hover {
  box-shadow: 0 2px 4px rgb(255, 0, 0);
}

textarea::-webkit-scrollbar,
.Alertsy::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb,
.Alertsy::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-thumb-color);
}

.item,
.Alert {
  position: relative;
  width: 300px;
  height: 260px;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  border-radius: 30px;
 background: #212121;
}

.remove,
.remove-1 {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-weight: bold;
  color: var(--note-text-color);
}
