@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    position: fixed;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #00ffae65;
    z-index: -100;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

content {
    display: flex;
    gap: 2rem;
}

.content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 700;
}

.content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
}

.content p {
    margin-bottom: 2rem;
    color: #ccc;
    margin: 12px;
}

.input {
    border: 2px solid #e8e8e8;
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #212121;
    color: white;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: 0.8s;
}

.btn {
    border: 2px solid #e8e8e8;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #212121;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: 0.8s;
    cursor: pointer;
}

.btn:hover {
    outline-color: white;
    background-color: #006cf0;
    color: #e8e8e8;
    box-shadow: 5px 5px #888888;
}

.input:focus {
    outline-color: white;
    background-color: #212121;
    color: #e8e8e8;
    box-shadow: 5px 6px 40px #ffffff76;
}

.image::before{
    content: "NNT";
    position: absolute;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
    font-size: 50rem;
    font-weight: 500;
    line-height: 40rem;
    color: #eeff00;
    opacity: 0.2;
    z-index: -100;
    transition:  0.8s;
}